---
http_interactions:
- request:
    method: get
    uri: http://www.google.com/ig/api?stock=aapl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml; charset=ISO-8859-1
    body:
      encoding: US-ASCII
      string: <?xml version="1.0"?><xml_api_reply version="1"><finance module_id="0"
        tab_id="0" mobile_row="0" mobile_zipped="1" row="0" section="0" ><symbol data="AAPL"/><pretty_symbol
        data="AAPL"/><symbol_lookup_url data="/finance?client=ig&amp;q=AAPL"/><company
        data="Apple Inc."/><exchange data="Nasdaq"/><exchange_timezone data="ET"/><exchange_utc_offset
        data="+05:00"/><exchange_closing data="960"/><divisor data="2"/><currency
        data="USD"/><last data="424.95"/><high data="433.98"/><low data="424.35"/><volume
        data="9599245"/><avg_volume data="11558"/><market_cap data="399492.95"/><open
        data="433.10"/><y_close data="431.76"/><change data="-6.81"/><perc_change
        data="-1.58"/><delay data="0"/><trade_timestamp data="Jul 19, 2013"/><trade_date_utc
        data="20130719"/><trade_time_utc data="200002"/><current_date_utc data="20130721"/><current_time_utc
        data="232028"/><symbol_url data="/finance?client=ig&amp;q=AAPL"/><chart_url
        data="/finance/chart?q=NASDAQ:AAPL&amp;tlf=12"/><disclaimer_url data="/help/stock_disclaimer.html"/><ecn_url
        data=""/><isld_last data=""/><isld_trade_date_utc data=""/><isld_trade_time_utc
        data=""/><brut_last data=""/><brut_trade_date_utc data=""/><brut_trade_time_utc
        data=""/><daylight_savings data="true"/></finance></xml_api_reply>
  recorded_at: Sun, 21 Jul 2013 23:25:28 GMT
recorded_with: VCR 2.5.0
