---
http_interactions:
- request:
    method: get
    uri: http://www.google.com/ig/api?stock=asdf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml; charset=ISO-8859-1
    body:
      encoding: US-ASCII
      string: <?xml version="1.0"?><xml_api_reply version="1"><finance module_id="0"
        tab_id="0" mobile_row="0" mobile_zipped="1"><symbol data="ASDF"/><pretty_symbol
        data="ASDF"/><symbol_lookup_url data="/finance?client=ig&amp;q=ASDF"/><no_data_message
        data="No data found"/></finance></xml_api_reply>
  recorded_at: Sun, 21 Jul 2013 23:28:01 GMT
recorded_with: VCR 2.5.0
