---
http_interactions:
- request:
    method: get
    uri: http://www.google.com/finance/historical?q=asdf&output=csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<html><head><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\"><link
        rel=\"shortcut icon\" href=\"//google.com/favicon.ico\"><title>Not Found</title>\n
        \ <style><!--\n  body {font-family: arial,sans-serif}\n  div.nav {margin-top:
        1ex}\n  div.nav A {font-size: 10pt; font-family: arial,sans-serif}\n  span.nav
        {font-size: 10pt; font-family: arial,sans-serif; font-weight: bold}\n  div.nav
        A,span.big {font-size: 12pt; color: #0000cc}\n  div.nav A {font-size: 10pt;
        color: black}\n  A.l:link {color: #6f6f6f}\n  A.u:link {color: green}\n  //--></style>\n
        \ </head><body text=#000000 bgcolor=#ffffff><table border=0 cellpadding=2
        cellspacing=0 width=100%><tr><td rowspan=3 width=1% nowrap><b><font face=times
        color=#0039b6 size=10>G</font><font face=times color=#c41200 size=10>o</font><font
        face=times color=#f3c518 size=10>o</font><font face=times color=#0039b6 size=10>g</font><font
        face=times color=#30a72f size=10>l</font><font face=times color=#c41200 size=10>e</font>&nbsp;&nbsp;</b></td><td>&nbsp;</td></tr><tr><td
        bgcolor=\"#3366cc\"><font face=arial,sans-serif color=\"#ffffff\"><b>Error</b></td></tr><tr><td>&nbsp;</td></tr></table><blockquote><H1>Not
        Found</H1>The requested URL was not found on this server.<p></blockquote><table
        width=100% cellpadding=0 cellspacing=0><tr><td bgcolor=\"#3366cc\"><img alt=\"\"
        width=1 height=4></td></tr></table></body></html>"
  recorded_at: Sun, 21 Jul 2013 23:40:10 GMT
recorded_with: VCR 2.5.0
